html, body {
  background:#000;
  width: 100%;
  height: 100%;
  font: 13px/22px 'Helvetica Neue', Helvetica, sans;
  margin: 0;
  padding: 0;
  
  }
#map {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  }

canvas {
}
